{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/vue3-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "max-len": 0,
    "linebreak-style": 0,
    "no-alert": "off",
    "no-param-reassign": [2, { "props": false }],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": false,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "vue/max-attributes-per-line": ["error", {
      "singleline": 2,
      "multiline": 2
    }]
  }
}